<main>
  <h1>Liste des articles</h1>

  <div class="content">
    <nav>
      <button routerLink="add" aria-label="Add">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
      <button
        [hidden]="selectedArticles.size == 0"
        (click)="remove()"
        aria-label="Remove"
      >
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </nav>

    <app-article-table
      [articles]="articleService.articles$ | async"
      (articleToggle)="setSelectedArticle($event)"
    ></app-article-table>
    <!-- <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="Qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr
          [class.selected]="selectedArticles.has(a)"
          (click)="toggle(a)"
          *ngFor="let a of articleService.articles$ | async"
        >
          <td class="name">{{ a.name | ellipsis: 13 }}</td>
          <td class="price">{{ a.price | currency: "EUR" }}</td>
          <td class="Qty">{{ a.qty }}</td>
        </tr>
      </tbody>
    </table> -->
  </div>
</main>
