<main>
  <h1>Liste des articles</h1>

  <div class="content">
    <nav>
      <button>Ajouter</button>
      <button>Supprimer</button>
    </nav>

    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="Qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">2.99 €</td>
          <td class="Qty">120</td>
        </tr>
        <tr>
          <td class="name">Marteau</td>
          <td class="price">7.90 €</td>
          <td class="Qty">45</td>
        </tr>
        <tr>
          <td class="name">Perceuse</td>
          <td class="price">25.99 €</td>
          <td class="Qty">180</td>
        </tr>
        <tr>
          <td class="name">Pelle</td>
          <td class="price">12.50 €</td>
          <td class="Qty">22</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
